@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-BlackItalic.ttf');
}


h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: rgba(255, 255, 255, 1);
    padding-top: 7px;
}

h4 {
    font-size: 16px;
    line-height: 28px;
}

.main {
    width: 1600px;
}

.navbar {
    display: flex;
    height: 92px;
    background-color: rgba(28, 30, 83, 1);
    width: 1600px;
}
.logo {
    height: 25px;
    padding-left: 160px;
}

.menu {
    float: left;
    margin: auto;
}

li {    
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

li a {
    color: rgba(187, 187, 203, 1);
    text-decoration: none;
    height: 30px;
}

li a.active {
    color: rgba(255, 255, 255, 1);
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 600px;
    padding: 0;
}

button {
    float: right;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.2);
    width: 185px;
    height: 60px;
    margin-top: 16px;
    margin-right: 50px;
    background-color:rgba(28, 30, 83, 1);
    color:rgba(255, 255, 255, 1);
}
.wl {
    height: 50px;
    width: 1600px;
    background-color: aliceblue;
}


.footer {
    display: flex;
    height: 397px;
    background-color: rgba(28, 30, 83, 1);
    width: 1600px;
}

.down-footer {
    display: flex;
    width: 1600px;
    height: 92px;
    /* background-color: gray; */
    /* border: 2px solid black; */
}

.down-text {
    color:rgba(40, 41, 56, 1);
    padding-left: 160px;
    padding-top: 17px;
}

.down-menu {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: 50px;
    margin-left: 83px;
    float: left;
}

.down-menu a {
    color:rgba(40, 41, 56, 1);
    line-height: 28px;
}